@model EmilioAlbornoz_ExamenP1.Models.EAPollo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EAPollo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EA_Nombre" class="control-label"></label>
                <input asp-for="EA_Nombre" class="form-control" />
                <span asp-validation-for="EA_Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EA_Piezas" class="control-label"></label>
                <input asp-for="EA_Piezas" class="form-control" />
                <span asp-validation-for="EA_Piezas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EA_FechadeProduccion" class="control-label"></label>
                <input asp-for="EA_FechadeProduccion" class="form-control" />
                <span asp-validation-for="EA_FechadeProduccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EA_Price" class="control-label"></label>
                <input asp-for="EA_Price" class="form-control" />
                <span asp-validation-for="EA_Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EA_IncluyeSalsa" /> @Html.DisplayNameFor(model => model.EA_IncluyeSalsa)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
